@import '../../config/variables';

body {
    background-color: $bg-color;
}

header {
    width: 20vw;
    height: 100vh;
    background-color: $bg-color;
    color: $text-color;
    position: fixed;
    overflow-y: scroll;

    #close {
        display: none;
    }

    .headerBrand {
        text-align: center;
        margin: 1rem 0;

        a {
            text-decoration: none;
            color: unset;
        }

        p {
            //      font-family: 'Dawning of a New Day', cursive;
            text-transform: uppercase;
            font-family: 'Homemade Apple', cursive;
            font-size: 4rem;
        }
    }

    .menuItems {
        font-family: bebas neue;
        margin: 10rem 0;

        a {
            color: unset;
            text-decoration: none;
        }

        ul {
            padding: 0 2rem;
            font-size: 1.5rem;

            li {
                list-style: none;
                margin: 1.5rem 0;
                padding: 0.3rem;
                transition: 0.5s;

                span {
                    font-size: 1rem;
                }

                ul {
                    a {
                        color: unset;
                        text-decoration: none;
                    }

                    li:hover {
                        background-color: $accessories-color;

                    }
                }

                .content {
                    display: none;
                }
            }

            li:hover {
                background-color: $spans-color;
                animation: headShake;
                animation-duration: 1s;

            }

        }
    }

    .socialMedia {
        font-size: 1.5rem;
        text-align: center;
        margin-top: -10px;

        a {
            text-decoration: none;
            color: unset;
        }
    }
}

main {
    width: 80%;
    float: right;

    .mainTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: $text-color;
        font-family: bebas neue;
        letter-spacing: 2px;
    }
    article{
        text-align: center;
        font-family: mohave;
        font-size: 1.5rem;
        p{
            color: $text-color;
            font-size: 1.2rem;
            width: 65%;
            margin: 1rem auto;
        }
    }
}